<div ng-cloak class="app" ng-strict-di id="degree-app" layout="row" ng-class="{'body-full': bodyFull}" custom-page>
    <md-sidenav class="md-sidenav-left" md-component-id="sidenav-left" md-is-locked-open="$mdMedia('min-width: 960px')"
  
          ng-include=" 'views/partials/sidenav.html' ">
  
    </md-sidenav>
    
    <div class="content-wrapper" flex layout>
      <!-- header -->
      <header class="site-head" ng-include=" 'views/partials/header.html' ">
        
      </header>
      
      <div class="main-content" layout-padding>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase">Propietario</span>
                    <md-divider></md-divider>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <form name="nativeForm">
                    <md-input-container class="md-block">
                        <label>Nombre</label>
                        <input type="text" name="txtNombreProp" ng-model="txtPropietario" required>
                        <div ng-messages="nativeForm.alphanum.$error">
                            <div ng-message-exp="['required']">Campo requerido</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>DPI</label>
                        <input type="text" name="txtDPIProp" ng-model="DPI" required>
                        <div ng-messages="nativeForm.num.$error">
                            <div ng-message-exp="['required']">Campo requerido</div>
                        </div>
                    </md-input-container>

                    <span class="md-subhead text-uppercase">Inquilino</span>
                    <md-divider></md-divider>

                    <md-input-container class="md-block">
                        <label>Nombre</label>
                        <input type="text" name="txtNombreInq" ng-model="txtInquilino" required>
                        <div ng-messages="nativeForm.alphanum.$error">
                            <div ng-message-exp="['required']">Campo requerido</div>
                        </div>
                    </md-input-container>
                    
                    <md-input-container class="md-block">
                        <label>DPI</label>
                        <input type="text" name="txtDPIInq" ng-model="txtDPInquilino" required>
                        <div ng-messages="nativeForm.num.$error">
                            <div ng-message-exp="['required']">Campo requerido</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Monto</label>
                        <input type="number" name="txtMonto" ng-model="txtMonto" ng-pattern="/^\d+(?:\.\d{1,2})/" step="0.01" required>
                        <div ng-messages="nativeForm.num.$error">
                            <div ng-message-exp="['pattern']">Monto no puede ser cero</div>
                        </div>
                    </md-input-container>

                    <span class="md-subhead text-uppercase">Contrato</span>
                    <md-divider></md-divider>

                    <md-input-container class="md-block">
                        <label>Codigo</label>
                        <input type="text" name="txtCodigo" ng-model="txtCodigo" required>
                        <div ng-messages="nativeForm.num.$error">
                            <div ng-message-exp="['required']">Campo requerido</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>No. Referencia</label>
                        <input type="number" min="0" name="txtNoReferencia" ng-model="txtNoReferencia">
                        <div ng-messages="nativeForm.num.$error">
                            <div ng-message-exp="['min']">No. de referencia requerido</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-checkbox flex="66" ng-model="txtCheckPago">Confirmacion Pago</md-checkbox>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Fecha</label>
                        <input type="date" placeholder="yyyy-mm-dd" name="date" ng-model="txtFechaPago" required>
                        <div ng-messages="nativeForm.date.$error">
                            <div ng-message="required">Fecha invalida</div>
                        </div>
                    </md-input-container>
                    <div layout-align="space-between center" layout="row">
                        <md-button type="submit" class="md-raised md-primary" flex="33" ng-click="nativeForm.$valid && agregar()">Guardar</md-button>
                    </div>
                </form>
            </md-card-content>

        </md-card>
      </div>
    </div>
  
    <!-- hidden search container -->
    <div class="search-container" ng-show="isSearchOpen">
      <md-icon class="ion-ios-close-circle-outline" ng-click="closeSearch()"></md-icon>
      <input type="search" class="search-input" placeholder="Type to search..." />
    </div>
  </div>