<div ng-cloak class="app" ng-strict-di id="degree-app" layout="row" ng-class="{'body-full': bodyFull}" custom-page>
    <md-sidenav class="md-sidenav-left" md-component-id="sidenav-left" md-is-locked-open="$mdMedia('min-width: 960px')"
  
          ng-include=" 'views/partials/sidenav.html' ">
  
    </md-sidenav>
    
    <div class="content-wrapper" flex layout>
      <!-- header -->
      <header class="site-head" ng-include=" 'views/partials/header.html' ">
  
      </header>
  
      <div class="main-content" layout-padding>
        <md-card>
            <div layout="row">
                <md-input-container class="md-icon-float md-block" flex-gt-sm>
                    <label>Search</label>
                    <input type="text" name="txtSearch" ng-model="txtSearch" required>
                </md-input-container>
                <md-button class="md-icon-button" md-ripple-size="full">
                    <md-icon class="ion-ios-search md-title" ng-click="search()"></md-icon>
                </md-button>
            </div>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase">Propietario</span>
                    <md-divider></md-divider>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <form name="nativeFormC">
                    <md-input-container class="md-block">
                        <label>Nombre</label>
                        <input disabled type="text" name="txtNombrePro" ng-model="txtPropietario" required>
                        <div ng-messages="nativeFormC.alphanum.$error">
                            <div ng-message-exp="['required']">Campo requerido</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>DPI</label>
                        <input disabled type="text" name="txtDPIPro" ng-model="DPI" required>
                        <div ng-messages="nativeFormC.num.$error">
                            <div ng-message-exp="['required']">Campo requerido</div>
                        </div>
                    </md-input-container>

                    <span class="md-subhead text-uppercase">Inquilino</span>
                    <md-divider></md-divider>

                    <md-input-container class="md-block">
                        <label>Nombre</label>
                        <input disabled type="text" name="txtNombreInq" ng-model="txtInquilino" required>
                        <div ng-messages="nativeFormC.alphanum.$error">
                            <div ng-message-exp="['required']">Campo requerido</div>
                        </div>
                    </md-input-container>
                    
                    <md-input-container class="md-block">
                        <label>DPI</label>
                        <input disabled type="text" name="txtDPIInq" ng-model="txtDPInquilino" required>
                        <div ng-messages="nativeFormC.num.$error">
                            <div ng-message-exp="['required']">Campo requerido</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Monto</label>
                        <input disabled type="number" name="txtMonto" ng-model="txtMonto" required>
                    </md-input-container>

                    <span class="md-subhead text-uppercase">Contrato</span>
                    <md-divider></md-divider>

                    <md-input-container class="md-block">
                        <label>Codigo</label>
                        <input disabled type="text" name="txtCodigo" ng-model="txtCodigo" required>
                        <div ng-messages="nativeFormC.num.$error">
                            <div ng-message-exp="['required']">Campo requerido</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>No. Referencia</label>
                        <input type="number" min="0" name="txtNoReferencia" ng-model="txtNoReferencia" ng-disabled="rol == 2" required>
                        <div ng-messages="nativeFormC.num.$error">
                            <div ng-message-exp="['min', 'required']">No. de referencia requerido</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-checkbox flex="66" ng-model="txtCheckPago" required ng-disabled="rol == 2">Confirmacion Pago</md-checkbox>
                        <div ng-messages="nativeFormC.alphanum.$error">
                            <div ng-message-exp="['required']">Debe confirmar el pago</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Fecha</label>
                        <input readonly type="date" placeholder="yyyy-mm-dd" name="date" ng-model="txtFechaPago" required ng-disabled="rol == 2">
                        <div ng-messages="nativeFormC.date.$error">
                            <div ng-message="required">Fecha invalida</div>
                        </div>
                    </md-input-container>
                    <div layout-align="space-between center" layout="row">
                        <md-button type="submit" class="md-raised md-primary" flex="33" ng-click="nativeFormC.$valid && modificar()" ng-show="rol == 1">Modificar</md-button>
                    </div>
                </form>
            </md-card-content>

        </md-card>
      </div>
    </div>
  
    <!-- hidden search container -->
    <div class="search-container" ng-show="isSearchOpen">
      <md-icon class="ion-ios-close-circle-outline" ng-click="closeSearch()"></md-icon>
      <input type="search" class="search-input" placeholder="Type to search..." />
    </div>
  </div>