<div ng-cloak class="app" ng-strict-di id="degree-app" layout="row" ng-class="{'body-full': bodyFull}" custom-page>
  <md-sidenav class="md-sidenav-left" md-component-id="sidenav-left" md-is-locked-open="$mdMedia('min-width: 960px')"

		ng-include=" 'views/partials/sidenav.html' ">

  </md-sidenav>
  
  <div class="content-wrapper" flex layout>
    <!-- header -->
    <header class="site-head" ng-include=" 'views/partials/header.html' ">

    </header>

    <div class="main-content" layout-padding> 
      <h1 style="text-align: center;">{{ 'Bienvenido ' + firstname + ' '+  lastname }}</h1>
    </div>
  </div>

  <!-- hidden search container -->
  <div class="search-container" ng-show="isSearchOpen">
    <md-icon class="ion-ios-close-circle-outline" ng-click="closeSearch()"></md-icon>
    <input type="search" class="search-input" placeholder="Type to search..." />
  </div>
</div>