<div layout="column" layout-align="center center" layout-fill="layout-fill" style="margin-top: 100px;">
    <div layout="column" class="loginBox md-whiteframe-z1">
      <form name="loginForm" ng-submit="login()">
        <div style="text-align: center; margin-top: 20px;">
            <img src="neo.png" alt="Neo" height="100" width="100">
        </div>
        <md-content layout="column" class="md-padding">
          <md-input-container>
            <label>Username</label>
            <input type="text" ng-model="usuario" name="username" required />
            <div ng-messages="loginForm.username.$error">
              <div ng-message="required">Es requerido</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="pass" name="password" required/> 
            <div ng-messages="loginForm.password.$error" role="alert">
              <div ng-message="required">Es requerido</div>
            </div>
          </md-input-container>
          <div layout="row" layout-align="center center">
            <md-button type="submit" class="md-raised md-primary">Login</md-button>
          </div>
          <md-divider></md-divider>
          
        </md-content>
      </form>
    </div>
</div>
