<md-toolbar layout="column" class="md-tall" layout-align="none center">
    <a class="brand-logo">
        <sup class="ion-ios-radio-button-on icon md-caption" md-colors="::{color: 'orange-100'}" style="font-size: 10px"></sup>
        Blockchain
    </a>
    <div class="profile">
        <figure>
            <img src="images/{{username}}.jpeg" alt="admin">
            <span class="isonline"></span>
        </figure>
		<div class="group">
			<h5 class="name">{{ firstname + ' '+  lastname}}</h5>
			<small>Graphic Designer</small>
		</div>
    </div>
</md-toolbar>

<nav class="site-nav" highlight-sidenav highlight-active>
    <p class="md-caption" md-colors="::{color: 'grey-400'}">Contratos</p>
    <ul class="nav md-body-1">
        <li>
            <a href="#!/agregar" ng-if="rol == 1" md-ink-ripple>
                <md-icon class="ion-ios-pie first"></md-icon>
                Agregar
            </a>
        </li>
        <li>
            <a href="#!/consultar" md-ink-ripple>
                <md-icon class="ion-ios-list-box first"></md-icon>
                Consultar
            </a>
        </li>
        
    </ul>
</nav>
