<div ng-cloak class="app" ng-strict-di id="degree-app" layout="row" ng-class="{'body-full': bodyFull}" custom-page>
    <md-sidenav class="md-sidenav-left" md-component-id="sidenav-left" md-is-locked-open="$mdMedia('min-width: 960px')"
  
          ng-include=" 'views/partials/sidenav.html' ">
  
    </md-sidenav>
    
    <div class="content-wrapper" flex layout>
      <!-- header -->
      <header class="site-head" ng-include=" 'views/partials/header.html' ">
  
      </header>
  
      <div class="main-content" layout-padding> 
        <div layout="column" class="loginBox md-whiteframe-z1">
            <form name="loginForm" ng-submit="login()" layout="column">
                <div style="text-align: center; margin-top: 20px;">
                    <img src="/images/{{username}}.jpeg" style="border: black 20px solid" alt="Neo" height="100" width="100">
                </div>
                <div style="text-align: center; margin-top: 20px;">
                    <label>{{ rol == 1 ? 'ARRENDATARIO' : 'INQUILINO' }}</label>
                </div>
                <div style="text-align: center; margin-top: 20px;">
                    <label>{{ firstname + ' '+  secondname + ' ' +  lastname + ' ' + secondlname }}</label>
                </div>
                <div style="text-align: center; margin-top: 20px;">
                    <label>{{ username }}</label>
                </div>

              <md-content layout="column" class="md-padding">
                <md-divider></md-divider>
              </md-content>
            </form>
          </div>
        
      </div>
    </div>
  
    <!-- hidden search container -->
    <div class="search-container" ng-show="isSearchOpen">
      <md-icon class="ion-ios-close-circle-outline" ng-click="closeSearch()"></md-icon>
      <input type="search" class="search-input" placeholder="Type to search..." />
    </div>
  </div>